pkgbuilds/*/src/
pkgbuilds/*/pkg/
pkgbuilds/*/*.pkg.tar.zst
pkgbuilds/*/*.pkg.tar.zst.sig
pkgbuilds/*/mrdwm/
pkgbuilds/*/mrlogin/
pkgbuilds/*/mrblocks/
pkgbuilds/*/mrdotfiles/
pkgbuilds/*/mrmanager/
pkgbuilds/*/mrsettings/
pkgbuilds/*/mrst/
pkgbuilds/calamares/calamares/
repo/*-debug-*
repo/*.old
